<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A to do list</title>
  </head>
  <body>
       <h1 style="color:blue">  <%=kindOfDay%> list </h1 >
        <ul>
          <li>Odi do dućana</li>
          <li>usisati sobu</li>
          <li>trening</li>
          <% for(var i=0;i<newListItem.length;i++){ %>
            <li><%=newListItem[i]%></li>
          <% } %>

        </ul>
    <form  action="/" method="post">
      <input type="text" name="add" >
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
